/* CSS Document */


.reveal {
  font-size: 30px;
  font-weight: normal;
  color: #222; }
  
/*
.reveal section p {
  font-size: large;
  color: blue;
  
}

.reveal section ul {
  font-size: 20pt;
  color: blue;
}

.reveal section ol {
  font-size: large;
  color: blue;
}

.reveal section h1 {
  font-size: 28pt;
  color: black;
}
*/